.spinner__container {
  position: relative;
}

.spinner--active .spinner__svg {
  animation: spin 2s linear infinite;
  transform-origin: 50%;
}

.spinner__barBackground {
  fill: transparent;
  stroke: #eee;
}

.spinner__bar {
  fill: transparent;
  stroke: #42a1ff;
  stroke-linecap: round;
}

.spinner__label {
  color: #333;
  font-size: 34px;
  left: 50%;
  padding-left: 6px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner__label::after {
  color: #aaa;
  content: '%';
  font-size: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
